*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form{
    margin-top: 40px;
}

input, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button{
    background-color: aqua;
    border: none;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 204, 204);
}

.mensagem_erro{
    /* font-size: 12px; */
    padding: 8px;
    background-color: red;
    color: aliceblue;
    margin-bottom: 8px;
    display: none;
}

.mensagem_sucesso{
    background-color: #27ae60;
    color: aliceblue;
    padding: 8px;
    display: none;
}

.mensagem_igual{
    background-color: coral;
    color: floralwhite;
    padding: 8px;
    display: none;
}